@import "../style";

.control {
  padding: $space4;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: $radius2;
  box-shadow: $shadow2;
  @include glassBackground();

  .control-title {
    height: $height11;

    font-size: $font5;
    font-weight: $fontWeight4;
  }
}

.controls {
  width: $controlsWidth;
  padding: $space4;
  box-sizing: border-box;

  display: grid;
  gap: $space4;
  grid-auto-rows: minmax($height2, auto);
  grid-template-columns: repeat(4, 1fr);

  border-radius: $radius2;
  box-shadow: $shadow2;
  @include glassBackground();
}

.background {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.volume {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}