@import "../style";

.button {
  height: $lSize;
  padding: 0 $xmSpacing 0 $xmSpacing;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  white-space: nowrap;
  transition: 0.3s;

  &:hover {
    border-radius: $xsRadius;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .button-content {
    height: $mSize;
  }
}

.buttons {
  display: flex;
}
