@import "../style";

.button {
  height: $xlSize;
  padding: 0 $xmSpacing 0 $xmSpacing;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  white-space: nowrap;
  transition: 0.3s;

  &:hover {
    border-radius: $xsRadius;
    background-color: rgba($white, 0.75);
  }

  .button-content {
    height: $mSize;
  }
}

.button-icon {
  width: $mSize * 2;
  height: $mSize * 2;
  padding: $xmSpacing;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 100%;
  background-color: rgba($white, 1.0);

  .button-content {
    width: 100%;
    height: 100%;
  }
}

.buttons {
  display: flex;
}
