.circular-bar {
  .icon {
    position: relative;

    .circle {
      margin: 0 auto;
      display: block;

      overflow: visible;
      fill: none;
      transform: rotate(-90deg);
    }

    .center {
      margin: 0 auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  .title {
    text-align: center;

    font-weight: lighter;
  }
}
