@import "../style";

.traffic-light {
  width: $height11;
  height: $height11;
  margin: $unitPx $space7 $unitPx $space7;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  border: $unitPx solid rgba($white, 0.15);
  outline: none;

  &:active {
    filter: $filterDarken;
  }

  .traffic-light-icon {
    width: 100%;
    height: 100%;
  }
}

.traffic-lights {
  display: flex;
  flex-direction: row;
}
