@import "../style";

.text-item {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .text-item-row {
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.list-item {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: $radius4;

  .list-item-icon {
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .list-item-main {
    min-width: 0;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list-item-tail {
    height: 100%;
    margin: 0 0 0 $space2;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }
}

.list-divider {
  height: $unitPx;
  margin: $space7 $space4 $space7 $space4;
  box-sizing: border-box;

  border-top: $divider;
}

