@import "../style";

.menu {
  padding: 6px 6px 6px 6px;
  position: fixed;

  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-radius: $xsRadius;
  backdrop-filter: $blur;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 70px 1px rgba(0, 0, 0, 0.2);
}

.menu-button {
  height: $lSize;
  padding: 0 $mSpacing 0 $mSpacing;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: $xsRadius;
  white-space: nowrap;

  .menu-button-content {
    height: $mSize
  }
}

.menu-button-group {
  display: flex;
}
