@import "../style";

.menu-item {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;

  .menu-item-icon {
    width: $icon1;
    height: $icon1;
  }
}

.menu {
  width: fit-content;
  padding: $space7;
  box-sizing: border-box;
  position: fixed;

  border-radius: $radius3;
  box-shadow: $shadow2;
  @include glassBackground();
}

