@import "../style";

.slider-container {
  height: $height9 + 2;
  position: relative;

  background-color: rgba($grey3, 1);
  border-radius: $height9 / 2 + 1;

  .slider {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: $unitPx;
    box-sizing: border-box;
    position: relative;

    background-color: rgba($grey3, 0);

    appearance: none;

    &::-webkit-slider-thumb {
      width: $height9;
      height: $height9;
      border: $border;
      box-sizing: border-box;

      background-color: rgba($white, 1);
      border-radius: 100%;

      appearance: none;
    }
  }

  .slider-fill {
    height: $height9;
    position: absolute;
    top: $unitPx;
    left: $unitPx;

    background-color: rgba($white, 1);
    border-radius: $height9 / 2;

    pointer-events: none;
  }

  .slider-icon {
    width: $height11;
    height: $height11;
    margin: $space7;
    box-sizing: border-box;
    position: absolute;
    top: $unitPx;
    left: $unitPx;

    pointer-events: none;
  }
}
