@import "../style";

.tooltip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tooltip-text {
    padding: $space6 $space3 $space6 $space3;
    box-sizing: border-box;

    overflow: visible;
    text-align: center;
    white-space: nowrap;

    border-radius: $radius2;
    background-color: $grey2;
  }

  .tooltip-tip {
    width: 0;
    height: 0;
    border-left: $height12 solid transparent;
    border-right: $height12 solid transparent;
    border-top: $height12 solid $grey2;
  }
}
