@import "../style";

.window-frame {
  border-radius: $radius2;

  cursor: default !important;
  overflow: hidden;

  .window-inner {
    width: 100%;
    height: 100%;
  }
}

.title-bar-window {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .title-bar {
    width: 100%;
    min-height: $titleBarHeight;
    padding: 0 $space1 0 $space1;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: $border;
    background-color: white;

    user-select: none;
  }
}

.sidebar-window {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  .sidebar {
    width: fit-content;
    max-width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-right: $border;
    @include glassBackground();

    overflow: hidden;

    .left-toolbar {
      width: 100%;
      height: $toolbarHeight;
      padding: 0 $space1 0 $space1;
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .non-sidebar {
    width: 100%;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: auto;

    .right-toolbar {
      width: 100%;
      height: $toolbarHeight;
      padding: 0 $space1 0 $space1;
      box-sizing: border-box;

      border-bottom: $border;
      background-color: white;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.lights {
  position: fixed;
  left: $space1;
}

.window-content {
  flex: 1;
  overflow: auto;
}