@import "../../style";

.dock-divider-container {
  box-sizing: border-box;
  position: relative; // Needed to be positioned so that stacking can be respected.

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .dock-divider {
  }
}