@import "../style";

.file-preview {
  width: 100%;
  height: fit-content;
  padding: $height12;
  box-sizing: border-box;
  border: $border;
  border-radius: $radius2;

  flex: 1;

  overflow: auto;

  .text-file-preview {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow: auto;
    white-space: break-spaces;
    tab-size: 4;
  }
}

.finder-toolbar {
  width: 100%;
  height: 100%;
  padding: 0 $space1 0 $space1;

  display: flex;
  flex-direction: row;
  align-items: center;

  .finder-toolbar-title {
    margin: 0 0 0 $space3;
  }
}

.finder-sidebar {
  padding: 0 $space4 0 $space4;
  box-sizing: border-box;
}

.finder-detail {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .finder-detail-text {
    width: 100%;
    margin: $height4 0 $height4 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .finder-detail-text-title {
      margin: $space4 0 0 0;
      padding: 0 $space4 0 $space4;
      box-sizing: border-box;

      font-size: $font5;
      font-weight: $fontWeight5;
    }

    .finder-detail-text-tail {
      font-size: $font6;
      font-weight: $fontWeight5;
    }
  }
}