@import "../../style";

.control {
  padding: $space4;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: $radius2;
  box-shadow: $shadow2;
  @include glassBackground();

  .control-title {
    height: $length11;

    font-size: $font5;
    font-weight: $fontWeight2;
  }
}