@import "../style";

.menu-bar {
  width: 100vw;
  height: $menuBarHeight;
  padding: 0 $space5 0 $space5;
  box-sizing: border-box;
  position: absolute;
  z-index: $maxAppZIndex + 1;

  display: flex;

  background: rgba($grey3, 0.5);
  // If set this, then backdrop-filter on menus are gone. This is a bug in Chrome.
  // https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome
  // backdrop-filter: $blur;

  overflow: visible;
  -webkit-user-select: none;
  user-select: none;

  .menu-bar-left {
    flex: 1;

    display: flex;
    justify-content: left;
  }
}