@import "../style";

.control {
  padding: $mSpacing;
  box-sizing: border-box;

  background-color: $grey6;
  backdrop-filter: $blur;
  border-radius: $sRadius;
  box-shadow: 0 5px 70px 1px rgba(0, 0, 0, 0.2);

  .control-title {
    height: $lSize;

    font-weight: bold;
  }
}

.controls {
  width: 250px;
  padding: $mSpacing;
  box-sizing: border-box;

  background-color: $grey6;
  backdrop-filter: $blur;
  border-radius: $mRadius;
  box-shadow: 0 5px 70px 1px rgba(0, 0, 0, 0.2);
}
