@import "../style";

.desktop {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $minAppZIndex - 1;

  .desktop-wallpaper {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 0 0 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;

    background-image: url("../media/images/macOS-Big-Sur-Vector-Wave-Wallpaper.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }

  .desktop-weather {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 0 0 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
  }
}
