@import "../style";

.desktop {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  flex: 1;
  z-index: $minAppZIndex - 1;

  .desktop-background {
    min-width: 100vw;
    min-height: 100vh;

    background-image: url("../images/macOS-Big-Sur-Vector-Wave-Wallpaper.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
}
