@import "../style";

.dock-container {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $maxAppZIndex + 1;

  display: flex;
  justify-content: center;
  pointer-events: none;
}

.dock {
  display: grid;
  grid-template-columns: auto auto auto;

  .dock-center {
    position: relative;

    display: grid;

    pointer-events: auto;
  }

  .dock-offset {
    background: red;
    pointer-events: none;
  }

  .dock-background {
    width: 100%;
    box-sizing: border-box;
    position: absolute;

    border-radius: $radius1;
    box-shadow: $shadow3;
    @include glassBackground;
  }
}

.dock-item-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dock-item-popover {
    position: absolute;
    top: -40px;
  }

  .dock-item {
    padding: $space4 0 $space3 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    .dock-item-icon {
      height: 100%;

      &:active {
        filter: $filterDarken;
      }
    }
  }

  .dock-item-indicator {
    width: $height13;
    height: $height13;
    position: absolute;
    bottom: $space7;

    border-radius: 100%;
    background-color: $black;
  }
}