@import "../style";

.menu-bar {
  width: 100vw;
  height: 24px;
  padding: 0 8px 0 8px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $maxAppZIndex + 1;

  display: flex;

  background-color: rgba($white, 0.7);
  // If set this, then backdrop-filter on menus are gone. This is a bug in Chrome.
  // https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome
  // backdrop-filter: blur(5px);

  overflow: visible;
  -webkit-user-select: none;
  user-select: none;

  .menu-bar-left {
    flex: 1;

    display: flex;
    justify-content: left;
  }
}
