@import "../style";

.weathers {
  width: $widgetsWidth;
  padding: $lSpacing;
  box-sizing: border-box;


  background-color: $grey6;
  backdrop-filter: $blur;
  border-radius: $sRadius;
  box-shadow: 0 5px 70px 1px rgba(0, 0, 0, 0.2);

  .loading {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .info {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .info-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .name {
        font-weight: bold;
        font-size: 16px;
      }

      .temp {
        font-weight: lighter;
        font-size: 32px;
      }
    }

    .info-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .icon {

      }

      .temps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        font-size: 12px;
      }
    }
  }
}
