@import "../style";

.widgets-background {
  width: $widgetsWidth;
  height: $widgetsHeight;
  padding: $space3;
  box-sizing: border-box;
  position: absolute;
  top: $menuBarHeight;
  right: 0;

  mask: linear-gradient(to right,
          rgba($white, 0) 0%, rgba($white, 1) 15%,
          rgba($white, 1) 85%, rgba($white, 0) 100%);
  backdrop-filter: $filterBlur;
}

.widgets-container {
  width: $widgetsWidth;
  height: $widgetsHeight;
  padding: $space3;
  box-sizing: border-box;
  position: absolute;
  top: $menuBarHeight;
  right: 0;

  mask: linear-gradient(to bottom,
          rgba($white, 0) 0, rgba($white, 1) $space3,
          rgba($white, 1) calc(#{$widgetsHeight} - #{$menuBarHeight}), rgba($white, 0) #{$widgetsHeight});

  &::-webkit-scrollbar {
    display: none;
  }

  // Use below div instead of margin property in Notification.scss to solve a react-spring bug.
  .notifications {
    overflow: visible;
    pointer-events: auto;

    .notification-margin {
      width: 100%;
      height: $space3;
    }
  }

  .widgets {
    padding: $space3 0 $space3 0;
    box-sizing: border-box;
  }
}

.widget {
  width: 100%;
  margin: $space3 0 0 0;

  border-radius: $radius1;
}

.title-widget {
  height: $height5;
  padding: 0 0 0 $space3;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  font-size: $font2;
  font-weight: $fontWeight1;
}

.image-widget {
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;

  .widget-title {
    position: absolute;

    font-size: $font3;
    font-weight: $fontWeight1;
    color: white;
  }
}

.grid-widget {
  background-color: rgba($white, 1);

  .widget-title {
    width: 100%;
    padding: $space1 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: $radius1 $radius1 0 0;

    font-size: $font3;
    font-weight: $fontWeight1;
    text-align: center;
  }

  .widget-content {
    width: 100%;
    padding: $space1 0 $space1 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}

.list-widget {
  background-color: rgba($white, 1);

  .widget-title {
    width: 100%;
    padding: $space1 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: $radius1 $radius1 0 0;

    font-size: $font3;
    font-weight: $fontWeight1;
    text-align: center;
  }

  .widget-content {
    width: 100%;
    padding: $space1;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
  }
}
